TMB/src/*.obj
TMB/src/*.exe
TMB/src/*.htp
TMB/src/*.cll
TMB/src/*.o
TMB/src/*.dll
source/*.obj
source/*.exe
source/*.htp
source/*.cll
source/*.o
source/*.dll
.Rproj.user
.Rhistory
tests/model_20_8
pkwham/*/*.cov
pkwham/*/*.hes
pkwham/*/*.cor
pkwham/*/*.exe
pkwham/*/*.rep
pkwham/*/*.par
markdown/*.html
markdown/*.pdf
markdown/*.docx
markdown/auto
markdown/markdown.aux
markdown/markdown.log
markdown.log
markdown.tex
TMB/R/proj_calcs/proj/spm.exe
TMB/Selectivity_runs.RData
tests/model_23
data/*.o
data/*.dll
