source/*.cpp
source/*.obj
source/*.exe
source/*.htp
source/*.cll
source/*.o
source/*.dll
.Rproj.user
.Rhistory
tests/model_20_8
pkwham/*/*.cov
pkwham/*/*.hes
pkwham/*/*.cor
pkwham/*/*.exe
pkwham/*/*.rep
pkwham/*/*.par
markdown/*.html
markdown/*.pdf
markdown/*.docx
markdown/auto
markdown/markdown.aux
markdown/markdown.log
markdown.log
markdown.tex